
@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
    ViewBag.Title = "Худшие студенты";
}

<div>
    <h1>Худшие студенты</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Оценка</th>
            </tr>
        </thead>
        @foreach (var student in ViewBag.WorseStudents)
        {
            <tbody>
                <tr>
                    <td>@student.Name</td>
                    <td>@student.Surname</td>
                    <td>@student.Score.ScoreValue</td>
                </tr>
            </tbody>

        }
    </table>
</div>
