@model ITMO.ASPNET.MVC.WebMVCR1.Models.Person

@{
    //Layout = "~/Views/_BasicLayout.cshtml";
    ViewBag.Title = "Здравствуйте!";
}

<div>
    <h1>Здравствуйте, @Model.ToString()!</h1>
    <p>@Html.ActionLink("На главную", "Index")</p>
</div>

